p {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
		"Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 2px;
}

.terminal{
	background-color: black;
	padding: 15px 0px 0px 10px;
	height: 100%;
}

.current-text {
  color: #3ADF00
}

.old-text {
  color: #BDBDBD
}